<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.3" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd">
 <display-name>person</display-name>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>classpath:config/applicationContext.xml</param-value>
 </context-param>
 

<filter>
   <filter-name>UrlRewriteFilter</filter-name>
   <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
</filter>
<filter-mapping>
   <filter-name>UrlRewriteFilter</filter-name>
   <url-pattern>/*</url-pattern>
   <dispatcher>REQUEST</dispatcher>
   <dispatcher>FORWARD</dispatcher>
</filter-mapping>
        
 
 <filter>
  <filter-name>sessionFilter</filter-name>
  <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
 </filter>
 <filter>
  <filter-name>CharSetFilter</filter-name>
  <filter-class>shop.common.util.encoding.CharSetFilter</filter-class>
 </filter>
 <filter>
  <filter-name>application</filter-name>
  <filter-class>shop.common.context.ApplicationFilter</filter-class>
 </filter>
 <filter>
  <filter-name>AdminLogin</filter-name>
  <filter-class>shop.common.action.LoginFilter</filter-class>
  <init-param>
   <param-name>LoginPath</param-name>
   <param-value>/admin/login.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>SessionUser</param-name>
   <param-value>${Session.AuthUserName}</param-value>
  </init-param>
  <init-param>
   <param-name>ErrorMessageName</param-name>
   <param-value>${Session.ErrorMessageName}</param-value>
  </init-param>
  <init-param>
   <param-name>ErrorMessage</param-name>
   <param-value>${Session.Login.ErrorMessage}</param-value>
  </init-param>
  <init-param>
   <param-name>ExcludePath</param-name>
   <param-value>${Login.ExcludePath}</param-value>
  </init-param>
 </filter>
 <filter>
  <filter-name>UserLogin</filter-name>
  <filter-class>shop.common.action.LoginFilter</filter-class>
  <init-param>
   <param-name>LoginPath</param-name>
   <param-value>/index.jsp</param-value>
  </init-param>
  <init-param>
   <param-name>SessionUser</param-name>
   <param-value>${Session.MfUserName}</param-value>
  </init-param>
  <init-param>
   <param-name>ErrorMessageName</param-name>
   <param-value>${Session.ErrorMessageName}</param-value>
  </init-param>
  <init-param>
   <param-name>ErrorMessage</param-name>
   <param-value>${Session.Login.ErrorMessage}</param-value>
  </init-param>
  <init-param>
   <param-name>ExcludePath</param-name>
   <param-value>${Login.ExcludePath}</param-value>
  </init-param>
 </filter>
 <filter>
  <display-name>PaginationFilter</display-name>
  <filter-name>PaginationFilter</filter-name>
  <filter-class>shop.common.util.page.PaginationFilter</filter-class>
 </filter>
 <filter>
  <filter-name>struts-cleanup</filter-name>
  <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
 </filter>
 <filter>
  <filter-name>struts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  <init-param>
   <param-name>actionPackages</param-name>
   <param-value>shop.common.action</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>sessionFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>CharSetFilter</filter-name>
  <url-pattern>*.do</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>application</filter-name>
  <url-pattern>*.do</url-pattern>
 </filter-mapping>
  <filter-mapping>
  <filter-name>application</filter-name>
  <url-pattern>*.jsp</url-pattern>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
<filter-mapping>
    <filter-name>AdminLogin</filter-name>
    <url-pattern>/admin/*</url-pattern>
</filter-mapping>
 <filter-mapping>
  <filter-name>UserLogin</filter-name>
  <url-pattern>/user/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>PaginationFilter</filter-name>
  <url-pattern>*.do</url-pattern>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
  <filter-mapping>
  <filter-name>PaginationFilter</filter-name>
  <url-pattern>*.jsp</url-pattern>
   <dispatcher>FORWARD</dispatcher> 
   <dispatcher>REQUEST</dispatcher> 
 </filter-mapping>
 <filter-mapping>
  <filter-name>struts-cleanup</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>*.do</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>*.action</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>*.jsp</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>/struts/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>shop.common.context.ApplicationContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>shop.common.action.OnLineListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Connector</servlet-name>
  <servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>StickyCaptcha</servlet-name>
  <servlet-class>shop.common.action.SimpleCaptcha</servlet-class>
  <init-param>
   <param-name>width</param-name>
   <param-value>65</param-value>
  </init-param>
  <init-param>
   <param-name>height</param-name>
   <param-value>22</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>Connector</servlet-name>
  <url-pattern>/admin/js/Fckeditor/editor/filemanager/connectors/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StickyCaptcha</servlet-name>
  <url-pattern>/images/captcha.jpg</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>15</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>home.html</welcome-file>
  <welcome-file>home.jsp</welcome-file>
  <welcome-file>login.jsp</welcome-file>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <error-page>
  <exception-type>java.lang.Exception</exception-type>
  <location>/old/error.jsp</location>
 </error-page>
 <error-page>
  <error-code>404</error-code>
  <location>/404.jsp</location>
 </error-page>
</web-app>
